<!--listings/templates/listings/base.html
-->
{% load static %}


<html>
    <head>
        <title>JeStocke Base HTML</title>
        <link rel = "stylesheet" href = "{% static 'listings/styles.css' %}" />
    </head>
    
    <body>

        <nav>
            <p>
                <a href="{% url 'band-list' %}">Retour à tous les groupes (liste)</a>
            </p>
            <p>
                <a href="{% url 'post-list' %}">Retour à toutes les postes (liste)</a>
            </p>
            <p>
                <a href="{% url 'contact' %}">Contactez-Nous</a>
            </p>
            <p>
                <a href="{% url 'about' %}">A propos</a>
            </p>
        </nav>

        {% block content %}
             <!-- Cette partie-là est réservée ! -->
        {% endblock %}

    </body>
</html>