{% extends 'listings/base.html' %}

{% block content %}
    <h1>Listings</h1>
    <p>
        {{ listings | length }} posts disponibles
    </p>    
    <ul>
        {% for listing in listings %}
        <a href="{% url 'post-detail' listing.id %}">
            <li> 
                {{ listing.title }}
            </li>
            - <a href="{% url 'post-update' listing.id %}">[Modifier]</a>    
            - <a href="{% url 'post-delete' listing.id %}">[Supprimer]</a>
        </a>
        {% endfor %}
    </ul>


{% endblock %}    